* {
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
.margin-bottom {
  margin-bottom: 1rem;
}
h1 {
  font-weight: bold;
  font-size: 1.6rem;
}
h2 {
  font-weight: bold;
  font-size: 1.2rem;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #97623e;
}
.center {
  margin-inline: auto;
}
.text-center {
  text-align: center;
}
.margin-block {
  margin-block: auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  background-color: #fbf7e3;
  border-radius: 18%;
  justify-content: space-between;
  height: 22rem;
  overflow: hidden;
}
#logo {
  width: 40px;
}

button {
  padding: 0.3rem 1.5rem;
  border-radius: 20px;
  background-color: #f3df85;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}
.image {
  background-image: url(../assets/imgs/honey.jpg);
  background-size: cover;
  background-position: center;
  height: 14rem;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
img {
  width: -webkit-fill-available;
  max-width: 450px;
}
.flex-row {
  display: flex;
}

.navbar button:nth-of-type(3) {
  display: flex;
  justify-content: center;
  order: -1;
  border-radius: 35px;
  width: 100%;
  padding-block: 1.5rem;
}
.navbar button:nth-of-type(3) p {
  font-size: 1.4rem;
}

.navbar {
  /* width: 50rem; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fbf7e3;
  border-radius: 50px;
  padding: 1rem;
  gap: 1rem;
}
.navbar button {
  padding: 0.7rem 1rem;
  width: 32%;
  min-width: 118px;
  color: inherit;
}
article {
  min-width: 250px;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: #fbf7e3;
  border-radius: 20px;
  flex-direction: column-reverse;
  align-items: center;
}

article div {
  font-size: 0.9rem;
  padding-inline: 1rem;
  max-width: 450px;
}
@media screen and (min-width: 576px) {
  .navbar {
    flex-wrap: nowrap;
    gap: 0.2rem;
  }
  .navbar button:nth-last-of-type(3) {
    order: 0;
    width: 50%;
  }
  .navbar button {
    min-width: 90px;
    padding: 0.7rem 0;
  }
  .card {
    width: 16rem;
  }
}

@media screen and (min-width: 769px) {
  .text-center {
    text-align: start;
  }
  article {
    width: 750px;
    flex-direction: row;
  }
  article div {
    width: 52%;
  }
  img {
    width: 50%;
  }
  .card {
    width: 14rem;
  }
  .card:last-of-type {
    display: none;
  }
}

main {
  margin-inline: 1rem;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
